h1 {
  font-family: sans-serif;
}

.axis text, .axis path, .axis line {
  stroke: #aaa;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}

.graph {
  stroke: #666;
}

.graph-moving-average {
  stroke: #444;
  stroke-width: 3;
}